.DS_Store
.git
.idea/
.git/
*.map
*.html

// 忽略打包分析报表文件
dist/*.html
demo

test
npm-debug.log
.DS_Store
node_modules/
examples/
packages/
public/
src/
simple-server/

.browserslistrc
.eslintrc.js
.gitignore
.npmignore
.prettierrc.js
babel.config.js
jsconfig.json
package-lock.json
rollup.config.js
vue.config.js
vite.config.js